body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}
.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container2 {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container > ul {
  text-align: left;
}
.step-1 {
  display: none;
}
.step-2 {
  display: none;
}
.step-3 {
  display: none;
}
.step-4 {
  display: none;
}

.proceedBtn {
  display: none;
  text-align: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 0.7em 1.4em 0.7em 1.1em;
  color: white;
  background: #ad5389;
  background: linear-gradient(
    0deg,
    rgba(20, 167, 62, 1) 0%,
    rgba(102, 247, 113, 1) 100%
  );
  border: none;
  box-shadow: 0 0.7em 1.5em -0.5em #14a73e98;
  letter-spacing: 0.05em;
  border-radius: 20em;
}

.pbtn {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  display: flex;
  justify-content: space-between;
}

.card {
  width: 30%;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
}

.card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.card input[type="checkbox"] {
  display: none;
}

.card label {
  cursor: pointer;
  color: #333;
}

.card input[type="checkbox"]:checked + label {
  color: #007bff;
}

.selected-vote {
  background-color: green;
  color: white;
  border-radius: 5cm;
  padding: 10px;
  font-weight: bold;
}
